server {
  listen 80;
  #listen 443 ssl;
  server_name {{ inventory_hostname }};

  access_log /var/log/nginx/{{ inventory_hostname }}.access.log;
  error_log /var/log/nginx/{{ inventory_hostname }}.error.log warn;

  #ssl_certificate /usr/local/ssl/{{ inventory_hostname }}.crt.pem;
  #ssl_certificate_key /usr/local/ssl/{{ inventory_hostname }}.key.pem;
  #ssl_dhparam /usr/local/ssl/{{ inventory_hostname }}.dh.pem;
  #ssl_protocols TLSv1.2;
  #ssl_prefer_server_ciphers on;
  #ssl_ciphers EECDH+AESGCM:EDH+AESGCM:AES128+EECDH:AES128+EDH;
  #ssl_session_timeout 5m;
  #ssl_session_cache shared:SSL:50m;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://127.0.0.1:15672/;
  }
}
