include "constants.conf"
include "zones.conf"

include <itl>
include <plugins>
include <plugins-contrib>
include <manubulon>

include <windows-plugins>

include <nscp>

include "features-enabled/*.conf"

include_recursive "repository.d"

{% if inventory_hostname in groups['icinga'] %}
include_recursive "conf.d"
{% endif %}
