// dns config

acl "xfer" {
  none;
};

acl "trusted" {
  127.0.0.0/8;
{% for net in bindConfig['internal']['acl'] %}
  {{ net }};
{% endfor %}
};

options {
  directory "/var/bind";
  pid-file "/run/named/named.pid";

  listen-on { any; };
  listen-on-v6 { any; };

  auth-nxdomain no;
  recursion yes;

  allow-query {
    trusted;
  };

  allow-query-cache {
    trusted;
  };

  allow-recursion {
    trusted;
  };

  allow-transfer {
    none;
  };

  allow-update {
    none;
  };

  //dnssec-enable no;
  //dnssec-validation yes;

  /*
   * As of bind 9.8.0:
   * "If the root key provided has expired,
   * named will log the expiration and validation will not work."
   */
  //dnssec-validation auto;
};

/*
logging {
	channel default_log {
		file "/var/log/named/named.log" versions 5 size 50M;
		print-time yes;
		print-severity yes;
		print-category yes;
	};

	category default { default_log; };
	category general { default_log; };
};
*/

{% if bindConfig['ddns-key'] %}
key "ddns-key" {
  algorithm hmac-md5;
  secret "{{ bindConfig['ddns-key'] }}";
};
{% endif %}

zone "." in {
  type hint;
  file "/var/bind/named.cache";
};

zone "localhost" IN {
  type master;
  file "pri/localhost.zone";
  notify no;
};

{% set zones = groups['all'] | groupZones(hostvars) %}
{% for zoneName, zone in zones.iteritems() %}
zone "{{ zoneName }}" {
  type master;
  file "/etc/bind/dyn/{{ zoneName }}.zone";
  allow-query { trusted; };
  allow-transfer { xfer; };
{% if bindConfig['ddns-key'] is defined %}
  allow-update { key "ddns-key"; };
{% endif %}
};
{% endfor %}

{% set zones = bindConfig['internal']['zones'] %}
{% for zoneName, zone in zones.iteritems() %}
zone "{{ zoneName }}" {
  type master;
  file "/etc/bind/pri/{{ zoneName }}.zone";
  allow-query { trusted; };
  allow-transfer { xfer; };
};
{% endfor %}
